[paths]
source =
   src/authentic
   */site-packages/authentic

[run]
branch = true
source =
    authentic
    tests
parallel = true
omit = */__main__.py

[report]
show_missing = true
precision = 2
omit = *migrations*
